<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Мои группы</h2>
    </div>
  
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Курс</th>
                <th>Действия</th>
              </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let group of groups | async">
                    <td>{{ group.id }}</td>
                    <td>{{ group.course.name }}</td>
                    <td>
                        <button (click)="deleteGroup(group.id)" class="btn btn-danger">Удалить</button>
                    </td>
  
                </tr>
            </tbody>
        </table>
    </div>
  </div>
