<h2>Подробности о курсе</h2> 

<hr/>
<ul *ngIf="course" class="list-group">
  <li class="list-group-item">
    <b>Название: </b> {{course.name}}
  </li>
  <li class="list-group-item">
    <b>Язык: </b> {{course.language}}
  </li>
  <li class="list-group-item">
    <b>Уровень языка: </b> {{course.level}}
  </li>  
  <li class="list-group-item">
    <b>Цена: </b> {{course.price}}
  </li>  
  <li class="list-group-item">
    <b>Занятий в неделю: </b> {{course.classesCount}}
  </li>  
</ul>

<br>
<button (click)="createGroup()" *ngIf="showTeacherBoard" class="btn btn-primary">Взять группу с курса</button><br>
<button (click)="joinCourse()" *ngIf="isLoggedIn && !showTeacherBoard" class="btn btn-primary">Записаться на курс</button><br>
<br>
<button (click)="list()" class="btn btn-primary">Назад к списку</button><br>
