<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        Профиль <strong>{{ currentUser.username }}</strong> 
      </h3>
    </header>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Роли:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
    <div *ngIf="isSimpleUser && hasCourse">
      <p>
        <strong>Текущий курс:</strong>
        {{ currentGroup.course.name }}
      </p>
      <p>
        <strong>Преподаватель:</strong>
        {{ currentGroup.teacher.username }}
      </p>
      <button (click)="leaveGroup()" class="btn btn-danger">Покинуть курс</button>
    </div>
  </div>
  
  <ng-template #loggedOut>
    Пожалуйста, войдите в аккаунт.
  </ng-template>
