<h3>Редактировать курс</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" id="courseName" required [(ngModel)]="course.name" name="name">
      </div>
  
      <div class="form-group">
        <label for="name">Язык</label>
        <input type="text" class="form-control" id="courseLanguage" required [(ngModel)]="course.language" name="language">
      </div>
  
      <div class="form-group">
        <label for="name">Уровень</label>
        <input type="text" class="form-control" id="courseLevel" required [(ngModel)]="course.level" name="level">
      </div>
  
      <div class="form-group">
          <label for="name">Цена</label>
          <input type="number" class="form-control" id="coursePrice" required [(ngModel)]="course.price" name="price">
      </div>
  
      <div class="form-group">
          <label for="name">Занятий в неделю</label>
          <input type="number" class="form-control" id="courseClasses" required [(ngModel)]="course.classesCount" name="classes">
      </div>

    <button type="submit" class="btn btn-success">Применить</button>
  </form>
</div>
